.app {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        height: 90vh;
        width: 90vw;
        min-height: 40rem;
    
        background-color: rgba(0, 128, 0, 0.4);

        display: grid;
        grid-template-rows: .5fr repeat(3, 1fr);
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "contr contr contr contr contr"
        "wea wea wea geo geo"
        "wea wea wea geo geo"
        "fore fore fore geo geo";
    }
}

.controls {
    grid-area: contr;
    border: 1px solid black;
}

.forecast {
    grid-area: fore;
    border: 1px solid black;
}

.geo {
    grid-area: geo;
    border: 1px solid black;
}

.weather {
    grid-area: wea;
    border: 1px solid black;
}