.app {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    
    &__inner {
        height: 90vh;
        width: 90vw;
        min-height: 40rem;
        padding: 0 4rem;
        position: relative;

        display: grid;
        grid-template-rows: .5fr repeat(4, 1fr);
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: 
        "cont cont cont cont cont cont cont"
        "pla pla pla pla geo geo geo"
        "wea wea aux aux geo geo geo"
        "wea wea aux aux geo geo geo"
        "fore fore fore fore fore fore fore";

        &::before {
            content: '';
            position: absolute;
            background-color: $main-color-fade;
            width: 100%;
            height: 100%;
            filter: blur(.8rem);
        }
    }
}