.auxiliary {
    grid-area: aux;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: baseline;
    z-index: 1;

    @media (max-width: $md) {
        align-items: center;
    }
    @media (max-width: $sm) {
        justify-content: center;
    }

    &__desc {
        font-size: 2.8rem;
        margin-bottom: 3rem;
        margin-left: 1rem;

        @media (max-width: $lg) {
            font-size: 2.1rem;
        }
        @media (max-width: $md) {
            font-size: 2rem;
        }
    }

    &__info {
        font-size: 1.8rem;
        margin: .2rem 0 .2rem 1rem;

        & span:nth-child(2) {
            font-size: 1.6rem;
        }
        & span:nth-child(3) {
            font-size: 1.2rem;
        }
    }
}