.controls {
    grid-area: cont;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__panel {
        display: flex;
        align-items: center;

        & button {
            margin-right: 1rem;
            border-radius: .6rem
        }
    }

    &__lang {
        position: relative;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 3rem;
        height: 3rem;
        margin-right: 1rem;

        border: .1rem solid black;
        border-radius: .6rem;
    }

    &__lang-list {
        display: none;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 100%;
        list-style: none;
        background-color: white;

        & ul {
            padding: .6rem 0;
            cursor: pointer;
        }
    }

    &__search {
        display: flex;
        align-items: center;
    }

    &__inp {
        border-top-left-radius: .6rem;
        border-bottom-left-radius: .6rem;

        padding-left: 1rem;
    }

    &__btn-search {
        border-top-right-radius: .6rem;
        border-bottom-right-radius: .6rem;
    }

    & button {
        outline: none;
        height: 3rem;
        min-width: 3rem;
        padding: 0 1rem;
        border: .1rem solid black;
    }

    & input {
        outline: none;
        height: 3rem;
        width: 14rem;
        border: .1rem solid black;
    }
}