.controls {
    grid-area: cont;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-color;
    font-size: 1.6rem;

    &__panel {
        display: flex;
        align-items: center;
    }

    &__lang {
        position: relative;
        background-color: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 3rem;
        height: 3rem;

        margin: 0 2rem;
        padding: 0 3rem;
        border: .1rem solid $dark-color;
        border-radius: .4rem;
        transition: none;

        &:hover {
            border-bottom: none;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &__lang-list {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 100%;
        list-style: none;
        background-color: $wite-color;
        border: .1rem solid $dark-color;
        border-top: none;
        box-sizing: content-box;

        & ul {
            padding: .6rem 0;
            cursor: pointer;

            &:hover {
                background-color: $secodary-color;
            }

            &:active {
                background-color: $secodary-color;
            }
        }
    }

    &__search {
        display: flex;
        align-items: center;
    }

    &__inp {
        border-top-left-radius: .6rem;
        border-bottom-left-radius: .6rem;

        padding-left: 1rem;
    }

    &__voice-btn {
        border-radius: 50%;
        margin-right: 2rem;
    }

    &__btn-search {
        border-top-right-radius: .6rem;
        border-bottom-right-radius: .6rem;
        border-left: none !important;
        padding: 0 1rem;
    }

    &__btn-cel {
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
        border-right: none !important;
        padding: 0 1rem;

        &::before {
            content: '\2103';
            font-family: Tahoma, sans-serif;
        }
    }

    &__btn-far {
        border-top-right-radius: .4rem;
        border-bottom-right-radius: .4rem;
        border-left: none !important;
        padding: 0 1rem;

        &::before {
            content: '\2109';
            font-family: Tahoma, sans-serif;
        }
    }

    &__btn-img {
        border-radius: .4rem;
    }

    & button {
        outline: none;
        height: 3rem;
        min-width: 3rem;
        border: .1rem solid $dark-color;
        background-color: $main-color;
        color: $dark-color;

        &:hover {
            background-color: $wite-color;
        }

        &:active {
            background-color: $secodary-color;
        }
    }

    & input {
        outline: none;
        height: 3rem;
        width: 14rem;
        border: .1rem solid $dark-color;
        font-size: 1.4rem;
    }
}