$main-color: #8bbabb;
$main-color-fade: rgba(139, 186, 187, 0.6);
$modal-color: rgba(139, 186, 187, 1);
$secodary-color: #6c7b95;
$dark-color: #1c1929;
$wite-color: #c7f0db;

$lg: 1020px;
$md: 860px;
$mx: 720px;
$sm: 620px;
$xs: 520px;
$xxs: 320px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: $dark-color;
    transition: all .1s ease-in;
}

:root {
    font-size: 10px;

    @media (min-width: $lg) {
        font-size: 12px;
    }
    @media (max-width: $lg) {
        font-size: 11px;
    }
    @media (max-width: $md) {
        font-size: 10px;
    }
    @media (max-width: $xs) {
        font-size: 9px;
    }
}

button, input {
    font-size: 100%;
}

.no-visible {
    display: none !important;
}

.active {
    background-color: $dark-color !important;
    color: $wite-color !important;
}

@import './aplication.scss';
@import './controls.scss';
@import './geo.scss';
@import './weather.scss';
@import './forecast.scss';
@import './place.scss';
@import './auxiliary.scss';
@import './modal.scss';
@import './animations.scss';