* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 10px;
}

button, input {
    font-size: 100%;
}

$main-color: #8bbabb;
$secodary-color: #6c7b95;
$dark-color: #464159;
$wite-color: #c7f0db;

@import './aplication.scss';
@import './controls.scss';
@import './geo.scss';
@import './weather.scss';
@import './forecast.scss';
@import './place.scss';
@import './auxiliary.scss';