$main-color: #8bbabb;
$main-color-fade: rgba(139, 186, 187, 0.3);
$secodary-color: #6c7b95;
$dark-color: #1c1929;
$wite-color: #c7f0db;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 10px;
}

button, input {
    font-size: 100%;
}

.no-visible {
    display: none;
}

.active {
    background-color: $dark-color !important;
    color: $wite-color !important;
}

@import './aplication.scss';
@import './controls.scss';
@import './geo.scss';
@import './weather.scss';
@import './forecast.scss';
@import './place.scss';
@import './auxiliary.scss';