.weather {
    grid-area: wea;
    display: flex;
    justify-content: center;
    align-items: center;

    &__degree {
        font-size: 3rem;
    }
    &__far {
        &::after {
            content: '\2109'
        }
    }
    &__cel {
        &::after {
            content: '\2103'
        }
    }
}