.weather {
    grid-area: wea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    &__place-info {
        align-self: stretch;
    }

    &__info {
        align-self: stretch;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}