.weather {
    grid-area: wea;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &__degree {
        font-size: 10rem;
    }
    &__sym {
        &::after {
            content: '\00B0';
            font-size: 14rem;
        }
    }

    & i {
        font-size: 6rem;
    }
}